.bottom{
    background-color: black;

}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
    padding: 50px;
    margin-top: 90px;
    
}

.btn{
    display: block;
    background-color: lightgreen;
    color: black;
    margin: auto;
    border-radius: 30px;
}